{% extends 'base.html' %}

{% block title %}osm2tactile{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="osm2tactile">
    <h1>osm2tactile</h1>
    <p>
      Mapnik version: {{ mapnik_version }}
    </p>
    <p>
      Map center coordinates: {{ lat }}, {{ lon }}
    </p>
    <img src="{{ url_for('static', filename=map_img)}}" alt="" height="{{ map_height}}" width="{{ map_width}}"/>
    {% for street in streets %}
      <p>{{ street }}</p>
    {% else %}
      <p>
        No street info available
      </p>
    {% endfor %}
  </div>
{% endblock%}

{% block scripts %}
{% endblock%}
